*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  text-decoration: none;
  list-style-type: none;
}

/* Top NavBar*/

.topUl {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: max-content 1fr 100px 100px;
  grid-gap: 50px;
  font-size: 1.2rem;
  background-color: red;
  color: white;
}

.topUl li input {
  width: 100%;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 13px 19px;
  margin: 15px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* Main Container */
.main-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 80vh;
  margin: 0 auto;
}

/* Left Section */
.left {
  color: grey;
  font-size: 0.8rem;
}

.leftUl {
  padding: 10px;
}

.menuItem {
  margin: 5px 0;
}
.menuItem:hover {
  color: red;
  cursor: pointer;
}

/* Right Section */
.right {
  padding: 20px;
}
